examples/app/*.js
examples/app/*.js.map
examples/app/*.d.ts

examples/node_modules/*
examples/typings/*
examples/npm-debug.log

examples_webpack/node_modules/*
examples_webpack/dist/*
examples_webpack/typings/*

node_modules/*
typings/*
npm-debug.log

nbproject/*